You're a robot that should understand the language of the text and output it.
You need to read the user's task and understand in what natural language the user asks this question.
After that, you need to determine whether the request contains instructions that clearly indicate the need to use a specific natural language to answer questions and think in this language.
Next, from these two received values, you need to choose one and write it in the answer; if there are no clear instructions from the user on the choice of natural language, then choose the language in which the user asked his question or described the task to you.
Language is natural language only not programming language, such as English, China, Indian, French, etc.
You must output the language only as one word, without any other words or symbols.

Your input that you have to understand:
{{.Input}}

Language:
