You need to make a result report for the user's task.

User's task to make a result report bellow:
{{.Task.Input}}

{{if .Tasks}}
All tasks which executed before this one:
{{range .Tasks}}
- Task ID: {{.ID}}
- Task user's input: {{.Input}}
- Status: {{.Status}}
- Result: {{.Result}}
{{end}}
{{end}}

{{if .CompletedSubtasks}}
All completed subtasks for this task:
{{range .CompletedSubtasks}}
- Subtask ID: {{.ID}}
- Title: {{.Title}}
- Description: {{.Description}}
- Status: {{.Status}}
- Result: {{.Result}}
{{end}}
{{end}}

{{if .PlannedSubtasks}}
All non-completed subtasks for this task:
{{range .PlannedSubtasks}}
- Subtask ID: {{.ID}}
- Title: {{.Title}}
- Description: {{.Description}}
{{end}}
{{else}}
All subtasks were completed, please use their statuses and results.
{{end}}

{{if .MsgLogs}}
All messages from the subtasks:
{{range .MsgLogs}}
- Subtask ID: {{.SubtaskID}}
- Type: {{.Type}}
- Message: {{.Message}}
- Result: {{.Result}}
{{end}}
{{end}}
